---
import type { CollectionEntry } from "astro:content";

interface Props {
    startup: CollectionEntry<"startups">["data"];
}

const { startup } = Astro.props as Props;
---

<div
    class="startup-card transition-all duration-500 ease-in-out"
    data-name={startup.companyName.toLowerCase()}
    data-categories={startup.categories.join(',')}
>
    <div class="text-white animate-in fade-in duration-300 bg-gradient-to-r from-teal-600 to-teal-400 rounded-md p-4 overflow-hidden border border-teal-500 hover:border-teal-400 hover:bg-gradient-to-r hover:from-teal-500 hover:to-teal-300 transition-colors">
        <a href={startup.website} target="_blank">
            <div class="flex gap-4">
                <div class="max-h-24 max-w-24 flex-shrink-0">
                    {startup.logo && (
                        <img 
                            src={startup.logo.src} 
                            alt={startup.companyName} 
                            class="max-h-24 max-w-24"
                        />
                    )}
                </div>
                <div>
                    <h2 class="text-2xl font-bold">{startup.companyName}</h2>
                    <p><span class="inline-block w-4 h-4 mr-1">📍</span> {startup.country}</p>
                    <p><i>{startup.shortDescription}</i></p>
                </div>
            </div>
        </a>
    </div>
</div>